<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h3>login</h3>
    <form method="POST">
        {% csrf_token %}
        <label>username</label>
        <input type="text" name="username">
        <label>password</label>
        <input type="password" name="password">
        <button type="submit" name="submit">submit</button>
    </form>
    <small><a href="{% url 'register'%}">Don't have an account?Click here to sign in</a></small>

    
</body>
</html>