<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>Hello there {{username}}</h1>
    <hr>
    <h2>Email: {{email}}</h2>
    <button><a href="{% url 'logout' %}" style="text-decoration: none;color: #000;">Logout</a></button>
    <button><a href="{% url 'Home' %}" style="text-decoration: none;color: #000;">Home</a></button>
</body>
</html>